.item{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* @media (max-width: 767.98px){
       flex-direction: column;
    } */
 }

 @media all and (max-width: 767px) {
    .item {
        flex-direction: column;
    }
}
input{box-sizing:border-box} 
