.item{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

 }

 .mainContainer{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 38vw;
 }

 @media all and (max-width: 768px) {
    .item {
        flex-direction: column;
    }

    .mainContainer{
     width: auto;
     }
}

@media (max-width: 990px) { 
    .mainContainer{
        width: auto;
     }   
}
