
 .mainContainer{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 38vw;
 }

.firstContainer{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }


 /* Media query for small devices Phones */
 @media all and (max-width: 768px) {
    .firstContainer {
        flex-direction: column;
    }

    .mainContainer{
     width: auto;
     }
}
/* *********** */

/* Media query for Tablets */
@media (max-width: 990px) { 
    .mainContainer{
        width: auto;
     }   
}
/* *********** */

